.text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.formCad {
    width: 50%;
    height: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
    gap: 10px;
}

.cadInputs{
    background-color: #f8f8f8bd;
    backdrop-filter: blur(50%);
    width: 50%;
    text-align: center;
    height: 3rem;
    color: #000;
    border: 1px solid #919191;
    box-shadow: inset -2rem .1rem 2.3rem #D8DBE2;
    border-radius: .45rem;
    outline: none;
    transition: 300ms ease-in-out;
    font-size: 1.15rem;
}

.cadInputs:focus{
    background-color: #f1f1f1;
    font-weight: bold;
    transform: scale(1.05);
}

.cadText {
    font-size: 1.25em;
    text-align: center;
}

.formButton {
    width: 50%;
    border: none;
    height: 3.5rem;
    margin-top:15px;
    cursor: pointer;
    color: #f1f1f1;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 15px;
    transition: ease-in .2s;
    background-color: #FF101F;
    box-shadow: inset -2rem .1rem 2.85rem #880B0B;
}

.formButton:hover{
    background-color: #880B0B;
    transform: scale(1.025);
}