.map{
    position: absolute;
    left: 35%;
    top: 0;
    transform: translate(0%);
    width: 65%;
    height: 100vh;
}

.userElement {
    background-color: rgba(26, 110, 219, 0.699);
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

.viaturaElement{
    background-color: blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.viaturaMarker {
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    border: 2px solid blue;
  }
  
  .userMarker {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
  }
  
  
@media screen and
(min-width: 300px) and (max-width: 400px){
    .map{
        left: 50%;
        top: 0;
        width: 100%;
        height: 55vh;
        transform: translate(-50%, 0);
    }
}

@media screen and
(min-width: 401px) and (max-width: 576px){
    .map{
        left: 50%;
        top: 0;
        width: 100%;
        height: 50vh;
        transform: translate(-50%, 0);
    }
}

@media screen and
(min-width: 767px) and (max-width: 1000px){
    .map{
        left: 50%;
        width: 100%;
        height: 56vh;
        top: 0;
        transform: translate(-50%, 0);
    }
}
  
@media screen and
(min-width: 1001px) and (max-width: 1280px){
    .map{
        left: 50%;
        top: 0;
        width: 100%;
        height: 56vh;
        transform: translate(-50%, 0);
    }
}