.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.headerText {
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    font-size: 1.75rem;
}

.headerIcon{
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: .15rem;
    font-size: 3rem;
}

.settingBox {
    position: absolute;
    top: 47%;
    left: 42%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.historyBox {
    padding: .5rem;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}

.boxCircle {
    display: flex;
    align-items: center; 
}

.boxIcons {
    color: #f1f1f1;
    border-radius: 50%;
    background-color: #E90322;
    margin-right: 1.2rem;
    font-size: 2rem;
    padding: .5rem;
}

.boxText {
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 1.2rem;
}

.boxArrow {
    color: #000;
    font-size: 2rem;
}

.userInfoBox {
    padding: .5rem;
}

.userTermsBox {
    padding: .5rem;
}

.desconectBox {
    padding: .5rem;
}

.deleteBox {
    padding: .5rem;
}

.leftContainer{
    height: 100%;
    width: 40%;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    box-shadow: 0 0 .2rem #0f0f0f6c;
}

.rightContainer{
    height: 100%;
    width: 60%;
    position: absolute;
    right: 0;
    top: 0;
}

.navigationButton{
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    border: none;
    background-color: transparent;   
}

.boxOptionSecond{
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top:12%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxOptionInitial{
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top:5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lockCircle{ 
    width: 17.5%;
    height: 20%;
    background-color: #E90322;
    border-radius: 90%;
    border: none;
    box-shadow: inset 1.75rem 1rem 2rem #880B0B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxLock{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #EBEBEB;
    font-size: 3.5rem;

}
  
.boxOption {
    font-size: 2rem;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    color: #c0041d;
}

.tableContainer {
    max-height: 80%;
    overflow-y: auto;
    margin: 0 auto; 
}

.tableContainer::-webkit-scrollbar {
    width: 8px; 
}

.tableContainer::-webkit-scrollbar-thumb {
    background-color: #c0041d; 
    border-radius: 10px; 
}

.tableContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}


.tableHistory {
    width: 85%;
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 1.2em;
    min-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.tableHistory::-webkit-scrollbar {
    color: #E90322;
}

.tableHistory thead {
    background-color: #E90322;
    box-shadow: inset 1.75rem 1rem 2rem #880B0B;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.tableHistory th,
.tableHistory td {
    padding: 12px 15px;
}

.tableHistory tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tableHistory tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tableHistory tbody tr:last-of-type {
    border-bottom: 2px solid #880B0B;
}

.trBox {
    text-align: left;
}

.tdBox {
    font-size: 1em;
    color: #333333;
}

.setInfoBox {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    flex-direction:column;
}

.boxNavigation{
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    border: none;
    background-color: #E90322;
    box-shadow: inset 1.75rem 2rem 2rem #880B0B;
    border-radius: 20px;
    animation: ease-in 0s;
}

.boxNavigation:hover{
    transform: scale(1);
}

.boxEmail{
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.passwordBox{
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addressBox{
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationText{
    color: #f1f1f1;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 1.2rem;
}

.navigationCircle{
    display: flex;
    align-items: center; 
}

.navigationIcons{
    color: #E90322;
    border-radius: 50%;
    margin-right: 0;
    background-color: #f1f1f1;
    margin-right: 1.2rem;
    font-size: 2rem;
    padding: .5rem;
}

.desconectButtonOne{
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.desconectButtonTwo{
    position: absolute;
    width: 20%;
    top: 40%;
    left: 70%;
    border: none;
    color: #EBEBEB;
    transform: translate(-50%, -50%);
    background-color: #E90322;
    box-shadow: inset 1.75rem 1rem 2rem #880B0B;
}


@media screen and
(min-width: 300px) and (max-width: 400px){
    .headerContainer {
        width: 68%;
        padding-left: 3rem;
    }   
    
    .headerText {
        font-size: 1.25rem;
        margin-right:2rem ;
    }

    .headerIcon {
        font-size: 3rem;
        width: 10rem;
        border-radius: 100%;
    }

    .settingBox {
        width: 80%;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
    }

    .boxIcons {
        border-radius: 100%;
        font-size: x-large;
        width: 2rem;
    }

    .boxText {
        font-weight: bold;
        font-size: 1rem;
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    .boxArrow {
        font-size: 1.5rem;
    }

    .historyBox {
        padding: 0;
    }

    .userInfoBox {
        padding: 0;
    }
    
    .userTermsBox {
        padding: 0;
    }
    
    .desconectBox {
        padding: 0;
    }
    
    .deleteBox {
        padding: 0;
    }
}

@media screen and
(min-width: 401px) and (max-width: 576px){
    .headerContainer {
        width: 70%;
        padding-left: 3rem;
    }
    
    .headerText {
        font-size: 1.25rem;
        margin-right: 3rem ;
    }

    .headerIcon {
        font-size: 3rem;
        width: 5rem;
        border-radius: 100%;
    }

    .settingBox {
        width: 80%;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
    }

    .boxIcons {
        border-radius: 100%;
        font-size: xx-large;
        width: 2.25rem;
    }

    .boxText {
        font-weight: bold;
        font-size: 1rem;
        padding-top: .50rem;
        padding-bottom: .50rem;
    }

    .boxArrow {
        font-size: 2rem;
    }

    .historyBox {
        padding: 0;
    }

    .userInfoBox {
        padding: 0;
    }
    
    .userTermsBox {
        padding: 0;
    }
    
    .desconectBox {
        padding: 0;
    }
    
    .deleteBox {
        padding: 0;
    }
}

@media screen and
(min-width: 767px) and (max-width: 1000px){
    .boxIcons{
        font-size: 2.5rem;
        width: 2.80rem;
    }

    .boxText {
        font-size: 1.5rem;
    }
}

@media screen and
(min-width: 1001px) and (max-width: 1280px){
    .headerIcon {
        font-size: 6.5rem;
    }

    .headerText {
        font-size: 3rem;
        margin-right: 3rem ;
    }

    .boxIcons{
        font-size: 3rem;
        width: 3.5rem;
    }

    .boxText {
        font-size: 2.25rem;
    }
}
